.radio-label {
  height: 120px;
  width: 120px;
  border-radius: 4px;
  margin-right: 25px;
  padding: 20px;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.radio-label > span {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.radio__category-icon {
  transform: scale(1.7);
}
